* {

}
body {
text-align: center;
color: blue;
background-color: hsl(60, 100%, 81%);
}
h1 {
margin: 20px auto;
color: red;
}
h2 {
color: red;
}
h3 {
color: red;
}
#mainBox {
width: 35%;
float: left;
margin-left: 30%;
}
#mainlist {
border: 3px solid blue;
min-height: 20px;
padding: 0;
}
.listItem {
border-bottom: 6px double blue;
/*border-top: 3px solid red;*/
margin: 0;
text-align: left;
list-style-type: Arabic;
padding: 3px
}
#addItemBox {
float: right;
width: 30%;
}
fieldset {
border-radius: 5px;
}
p {
margin: 5px 0;
}
.priority {

}
.high-priority {
background-color: hsl(0, 75%, 75%);
}
.medium-priority {
background-color: hsl(40, 100%, 70%);
}
.low-priority {
background-color: hsl(120, 70%, 80%);
}
